{% load i18n %}
{% load ega_tags %}
{% load humanize %}
{% load static %}

<div id="matches-form-container">
{% if formset.forms %}

    <form id="matches-form" method="POST" action=""
          hx-post=""
          hx-target="#matches-form-container"
          hx-swap="outerHTML">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset.forms %}

        <div class="panel panel-default">
            {% with match=form.instance.match %}
            <div class="panel-heading">
                <h6 class="panel-title">
                <small>{{ match.when|date:"F j, H:i" }} |
                       {{ match.description }}
                       {% if match.location %}<span class="hidden-xs">| {{ match.location }}</span>{% endif %}
                       {% if match.is_expired %}| {% trans 'Cerrado' %}{% endif %}
                       </small></h6>
            </div>

            <a name="{{ form.instance.match_id }}"></a>
            {{ form.id }}
            {{ form.match }}

            {% with home=match.home home_placeholder=match.home_placeholder away=match.away away_placeholder=match.away_placeholder %}
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        {% show_prediction_trends match %}
                    </div>
                </div>
                {% if form.instance.starred %}
                <div class="text-center visible-xs starred-xs">
                    <img src="{% static 'images/star.jpg' %}" style="max-width:25px"/>
                </div>
                {% endif %}
                <div class="row {% if form.instance.starred %}starred{% endif %}">
                    <div class="col-xs-12 col-md-4">
                        {% include "ega/_team_details.html" with condition="home" team=home placeholder=home_placeholder stats=form.instance.home_team_stats %}
                    </div>
                    <div class="col-xs-12 col-md-4 text-center{% if form.home_goals.errors or form.away_goals.errors %} has-error{% endif %}">
                        {% if form.non_field_errors %}
                        <div class="row">
                            <div class="col-md-12 text-center bg-danger">
                                {{ form.non_field_errors|join:", " }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-xs-6"><p class="goals-input">{{ form.home_goals }}</p></div>
                            <div class="col-xs-6"><p class="goals-input">{{ form.away_goals }}</p></div>
                        </div>
                        {% if match.knockout %}
                            {% with penalties=form.penalties %}
                            {% include 'ega/_prediction_penalties.html'%}
                            {% endwith %}
                        {% endif %}
                        {% if form.source == 'preferences' %}
                        <div class="row" id="{{ form.prefix }}-default-prediction-msg">
                            <div class="col-xs-12"><p class="help-block">
                                <small><i>{% trans '(Pronóstico por defecto configurado en tu perfil)' %}</i></small>
                            </p></div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-4">
                        {% include "ega/_team_details.html" with condition="away" team=away placeholder=away_placeholder stats=form.instance.away_team_stats %}
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endwith %}
        </div>
        {% endfor %}

        <div class="navbar-matches">
            <strong id="changes-update"
                    class="{% if changes_status == 'success' %}text-success{% elif changes_status == 'error' %}text-danger{% endif %}">
                {{ changes_message }}
            </strong><br/>
            <span class="matches-saving-indicator text-muted">
                <img height="25" src="{% static 'images/loading.gif' %}" />
                {% trans 'Guardando...' %}
            </span>
            <button name="save" type="submit" class="btn btn-primary">{% trans 'Guardar' %}</button>
        </div>

    </form>

{% else %}
    <p>{% trans 'No hay partidos para jugar.' %}</p>
{% endif %}

{% include 'ega/_projected_bracket.html' %}
</div>
