{% for match in matches %}
    <div class="{% if match.starred %}starred-row{% endif %}">
    {% with home=match.home away=match.away %}
        <div class="row text-center homepage-match-row">
            <div class="col-xs-2 col-xs-offset-1">
                {% if home.image %}
                <img class="team-image-xsmall" src="{{ home.image.url }}" />
                {% endif %}
            </div>
            <div class="col-xs-2 {% if match.starred %}starred-font{% endif %}">
                <strong>{% firstof home.code home.name %}</strong>
            </div>
            {% if match.user_prediction %}
            <div class="col-xs-1">
                <strong class="predicted-score">{{ match.user_prediction.home_goals }}</strong>
            </div>
            <div class="col-xs-1">
                <strong class="predicted-score">{{ match.user_prediction.away_goals }}</strong>
            </div>
            {% else %}
            <div class="col-xs-2"></div>
            {% endif %}
            <div class="col-xs-2 {% if match.starred %}starred-font{% endif %}">
                <strong>{% firstof away.code away.name %}</strong>
            </div>
            <div class="col-xs-2">
                {% if away.image %}
                <img class="team-image-xsmall" src="{{ away.image.url }}" />
                {% endif %}
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-10 col-xs-offset-1">
                <small>
                    {% if match.description %}{{ match.description }} | {% endif %}
                    {{ match.when|date:"M j, P" }}
                    {% if match.location %}| {{ match.location }}{% endif %}
                </small>
            </div>
        </div>
    {% endwith %}
    </div>
{% endfor %}
