<div class="panel panel-info">
    <div class="panel-heading">
        <h6 class="panel-title {{ condition }}-stats">
        <strong>{{ team }}</strong>
        {% if team.image %}
        <img class="team-image-small {{ condition }}-image" src="{{ team.image.url }}" />
        {% endif %}</h6>
    </div>
    <div class="panel-body {{ condition }}-stats">
        <p><small>{# <strong>1ero</strong> | #}
        {{ stats.won }} ganado{{ stats.won|pluralize }},
        {{ stats.tie }} empatado{{ stats.tie|pluralize }},
        {{ stats.lost }} perdido{{ stats.lost|pluralize }}</small></p>
        {% if team.latest_matches %}
        <small>
        <table class="table table-condensed latest-results">
            <thead><th class="text-left" colspan="4">Últimos resultados</th></thead>
            <tbody>
            {% for m in team.latest_matches|slice:':3' %}
            <tr>
                <td class="text-right">
                    {{ m.home.name }}</td>
                <td><strong>{{ m.home_goals }}</strong></td>
                <td><strong>{{ m.away_goals }}</strong></td>
                <td class="text-left">
                    {{ m.away.name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </small>
        {% endif %}
    </div>
</div>
