<div class="panel panel-info">
    <div class="panel-heading">
        <h6 class="panel-title {{ condition }}-stats">
        <strong>{{ team }}</strong>
        {% if team.image %}
        <img class="team-image-small {{ condition }}-image" src="{{ team.image.url }}" />
        {% endif %}</h6>
    </div>
    <div class="panel-body {{ condition }}-stats">
        <small>{# <strong>1ero</strong> | #}
        {{ stats.won }} ganado{{ stats.won|pluralize }},
        {{ stats.tie }} empatado{{ stats.tie|pluralize }},
        {{ stats.lost }} perdido{{ stats.lost|pluralize }}
        {% if team.latest_matches %}
        <br/>
        <dl class="latest-results">
        <dt>Últimos resultados</dt>
        <dd>{% for m in team.latest_matches|slice:':3' %}
            {{ m.home.name }} vs. {{ m.away.name }}: {{ m.home_goals }} - {{ m.away_goals }}
            {% if not forloop.last %}<br/>{% endif %}
        {% endfor %}</dd></dl>
        {% endif %}
        </small>
    </div>
</div>