{% load i18n %}
{% if values %}
    <div class="progress">
        <div class="progress-bar progress-bar-success progress-local" style="width: {{ values.L }}%">
        {% if home_team.code %}{{ home_team.code }}{% else %}{% trans 'Local' %}{% endif %} {{ values.L }}%
        </div>
        <div class="progress-bar progress-bar-danger progress-tie" style="width: {{ values.E }}%">
        {% trans 'Empate' %} {{ values.E }}%
        </div>
        <div class="progress-bar progress-bar-info progress-away" style="width: {{ values.V }}%">
        {% if away_team.code %}{{ away_team.code }}{% else %}{% trans 'Visitante' %}{% endif %} {{ values.V }}%
        </div>
    </div>
{% else %}
    <div class="progress">
        <small class="text-muted">{% trans '(sin pronósticos)' %}</small>
    </div>
{% endif %}
