{% load staticfiles %}

<div class="media well user-stats">
    <span class="pull-right">
        {% if request.user.avatar %}
        <img class="media-object user-avatar" src="{{ request.user.avatar.url }}" />
        {% else %}
        <img class="media-object user-avatar" src="{% static 'images/unknown.png' %}" />
        {% endif %}
    </span>
    <div class="media-body">
        <h4 class="media-heading">{{ user.username }}</h4>
        <strong>{{ stats.score }} punto{{ stats.score|pluralize }}</strong><br/>
        {{ stats.count }} partido{{ stats.count|pluralize }} jugado{{ stats.count|pluralize }}<br/>
        {{ stats.winners }} acierto{{ stats.winners|pluralize }}<br/>
        {{ stats.exacts }} exacto{{ stats.exacts|pluralize }}
    </div>
</div>
