{% load humanize %}
{% load i18n %}
{% load static %}

<div class="media well user-stats">
    <span class="pull-right">
        {% if request.user.avatar %}
        <img class="media-object user-avatar" src="{{ request.user.avatar.url }}" />
        {% else %}
        <img class="media-object user-avatar" src="{% static 'images/unknown.png' %}" />
        {% endif %}
    </span>
    <div class="media-body">
        <h4 class="media-heading">{{ user.username }}</h4>
        {% if user_position %}<strong>{% trans 'Posición:' %} {{ user_position|ordinal }}</strong><br/>{% endif %}
        <strong>
        {% blocktrans count score=stats.score %}{{ score }} punto{% plural %}{{ score }} puntos{% endblocktrans %}</strong><br/>
        {% blocktrans count played=stats.count %}{{ played }} partido jugado{% plural %}{{ played }} partidos jugados{% endblocktrans %}<br/>
        {% blocktrans count winners=stats.winners %}{{ winners }} acierto{% plural %}{{ winners }} aciertos{% endblocktrans %}<br/>
        {% blocktrans count exacts=stats.exacts %}{{ exacts }} exacto{% plural %}{{ exacts }} exactos{% endblocktrans %}
    </div>
</div>
