{% extends 'base.html' %}
{% load i18n %}
{% load ega_tags %}
{% load news_tags %}
{% load static %}

{% block content-title %}{% endblock %}

{% block content %}

    {% if not user.preferences.default_prediction %}
        {% include 'ega/_default_prediction_notice.html' %}
    {% endif %}

    <div class="row">
        <div class="col-md-4">

            {% include 'ega/_user_stats.html' %}

            <div class="">
                <h3 class="title">{% trans 'Blog' %} <small><a href="http://blog.el-e.ga">el Ega | blog</a></small></h3>
                {% latest_news source='ega' latest=1 %}
                {% if champion_form %}
                <h3 class="title">{% trans 'Pronosticá el campeón' %}</h3>

                <div>
                    <form class="form-inline" method="POST" action={% url 'ega-update-champion' tournament.slug %}>
                    {% csrf_token %}
                    <div class="form-group">{{ champion_form.team }}</div>
                    <button name="save" type="submit" class="btn btn-primary">{% trans 'Actualizar' %}</button>
                    {% if champion_form.instance.team %}
                    <br/><small class="text-muted">{% trans 'Tu candidato actual es' %} {{ champion_form.instance.team.name }}</small>
                    {% endif %}
                    <br/><small class="text-muted">{% trans 'Última actualizacion:' %} {{ champion_form.instance.last_updated }}</small>
                    <br/><small>{% trans 'Al final del torneo sumás puntos de acuerdo a la antigüedad del pronóstico: antes del comienzo, 8 puntos; durante la fase de grupos, 5 puntos; durante la fase final, 3 puntos.' %}</small>
                    </form>
                </div>

                <div>
                    {% champion_predictions_chart tournament as chart %}
                    <embed type="image/svg+xml" src= {{ chart|safe }} />
                </div>

                {% elif tournament.slug == 'uruguay-clausura-2017' %}
                <h3 class="title">{% trans 'Noticias' %} <small><a href="http://ovaciondigital.com.uy">Ovación</a></small></h3>
                {% latest_news source='ovacion' latest=3 %}
                {% else %}
                <h3 class="title">{% trans 'Noticias' %} <small><a href="http://ole.com.ar">Olé</a></small></h3>
                {% latest_news source='ole' latest=3 %}
                {% endif %}
            </div>
        </div>

        <div class="col-md-4">
            {% if matches %}
                <h3 class="title">
                    {% trans 'Próximos partidos' %}
                </h3>
                {% include 'ega/_next_matches.html' %}
                <p class="title-main-action"><strong><a href="{% url 'ega-next-matches' tournament.slug %}">{% trans 'mis pronósticos' %} <span class="glyphicon glyphicon-log-in"></span></a></strong></p>
            {% endif %}

            {% if history %}
                <h3 class="title history-section">
                    {% trans 'Últimos resultados' %}
                </h3>
                {% include 'ega/_predictions.html' with use_code=1 %}
                <p class="title-action"><strong><a href="{% url 'ega-history' tournament.slug %}">{% trans 'ver historial' %}</a></strong></p>
            {% endif %}
        </div>

        <div class="col-md-4">
            {% if round16 %}
                <h3 class="title">
                    {% trans 'Compartí' %}
                    <span class="pull-right"><button onclick="copyText()" class="btn btn-link">{% trans 'Copiar' %}</button></span>
                </h3>
                <div id="round16">
                <p>{% trans 'Estos serían los cruces de octavos de final según mis pronósticos:' %}</p>
                <p style="margin-left: 20px">
                    {% for h, a in round16 %}
                    {{ h.emoji }} {% firstof h.code h %} - {% firstof a.code a %} {{ a.emoji }}
                    {% if not forloop.last %}<br/>{% endif %}
                    {% endfor %}
                </p>
                <p>#Qatar2022 #elEga🌵⚽<br/><a href="https://el-e.ga">https://el-e.ga</a></p>
                </div>
                <script>
                    function copyText() {
                        navigator.clipboard.writeText(document.getElementById("round16").innerText);
                    }
                </script>
            {% endif %}

            {% if top_ranking %}
                <h3 class="title">
                    {% trans 'Posiciones' %}
                </h3>
                {% include 'ega/_ranking_table.html' with ranking=top_ranking delta=1 %}
                <p class="title-action"><strong><a href="{% url 'ega-ranking' tournament.slug %}">{% trans 'ver tabla completa' %}</a>
                {% if current_round %}|
                <a href="{% url 'ega-ranking' tournament.slug current_round %}">{% blocktrans %}ver fecha {{ current_round }}{% endblocktrans %}</a></strong>{% endif %}</p>
            {% endif %}
        </div>

    </div>

{% endblock %}
