{% extends 'base.html' %}
{% load news_tags %}
{% load staticfiles %}

{% block content-title %}{% endblock %}

{% block content %}
    {% if pending %}
    <div class="alert alert-info">
        Tenés <a class="alert-link" href="{% url 'ega-next-matches' tournament.slug %}#{{ pending.match.id }}"> partidos pendientes para pronosticar</a>.
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-4">

            {% include 'ega/_user_stats.html' %}

            <div class="hidden-xs">
                {% if tournament.slug == 'uruguayo-especial' %}
                <h3 class="title">Noticias <small><a href="http://ovaciondigital.com.uy">Ovación</a></small></h3>
                {% latest_news source='ovacion' latest=3 %}
                {% else %}
                <h3 class="title">Noticias <small><a href="http://ole.com.ar">Olé</a></small></h3>
                {% latest_news source='ole' latest=3 %}
                {% endif %}
            </div>
        </div>

        <div class="col-md-4">
            {% if matches %}
                <h3 class="title">
                    Próximos partidos
                </h3>
                {% include 'ega/_next_matches.html' %}
                <p class="title-main-action"><strong><a href="{% url 'ega-next-matches' tournament.slug %}">{% if pending > 0 %}completar {% endif %}mis pronósticos <span class="glyphicon glyphicon-log-in"></span></a></strong></p>
            {% endif %}

            {% if history %}
                <h3 class="title history-section">
                    Últimos resultados
                </h3>
                {% include 'ega/_predictions.html' with use_code=1 %}
                <p class="title-action"><strong><a href="{% url 'ega-history' tournament.slug %}">ver historial</a></strong></p>
            {% endif %}
        </div>

        <div class="col-md-4">
            {% if top_ranking %}
                <h3 class="title">
                    Posiciones
                </h3>
                {% include 'ega/_ranking_table.html' with ranking=top_ranking delta=1 %}
                <p class="title-action"><strong><a href="{% url 'ega-ranking' tournament.slug %}">ver tabla completa</a>
                {% if current_round %}|
                <a href="{% url 'ega-ranking' tournament.slug current_round %}">ver fecha {{ current_round }}</a></strong>{% endif %}</p>
            {% endif %}
        </div>

    </div>

{% endblock %}