{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content-title %}
{% if league %}
Invitar amigos a la liga {{ league}}
{% else %}
Invitar amigos a el Ega{% endif %}
{% endblock %}

{% block content %}

<p>Invitá a tus amigos en
    <a href="https://twitter.com/share?url=http%3A%2F%2F{{ invite_url|iriencode }}&amp;text=Sumate!" target="_blank">
    <img src="{% static 'images/twitter.png'%}"></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F{{ invite_url|iriencode }}" target="_blank">
    <img src="{% static 'images/facebook.png' %}"></a>
    <a href="https://plus.google.com/share?url=http%3A%2F%2F{{ invite_url|iriencode }}" target="_blank">
    <img src="{% static 'images/google.png' %}"></a>
</p>
<p>o vía email usando el siguiente formulario:</p>

<form method="POST" action="" class="form-horizontal" role="form">
    {% csrf_token %}

    {% include 'ega/_form_errors_all_snippet.html' %}

    {% for field in form %}
    {% include 'ega/_field_snippet.html' %}
    {% endfor %}

    <div class="text-center">
        <button name="invite" type="submit" class="btn btn-primary">Invitar amigos</button>
        </br>
        <small>Una copia de este email será enviado a los administradores del
        sitio.</small>
    </div>
</form>

{% endblock %}
