{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<form method="POST" action="" class="form-horizontal" role="form">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
    <label class="pull-left control-label" for="{{ field.id }}">
        {{ field.label }}
    </label>
    {{ field }}
    </div>
    {% endfor %}
    <div class="text-center">
        <button name="invite" type="submit" class="btn btn-primary">Invitar amigos</button>
    </div>
</form>

{% endblock %}
