{% extends 'base.html' %}
{% load i18n %}

{% block content-title %}
{% if league %}
Invitar amigos a la liga {{ league}}
{% else %}
Invitar amigos a el Ega{% endif %}
{% endblock %}

{% block content %}

<form method="POST" action="" class="form-horizontal" role="form">
    {% csrf_token %}

    {% include 'ega/_form_errors_all_snippet.html' %}

    {% for field in form %}
    {% include 'ega/_field_snippet.html' %}
    {% endfor %}

    <div class="text-center">
        <button name="invite" type="submit" class="btn btn-primary">Invitar amigos</button>
        </br>
        <small>Una copia de este email será enviado a los administradores del
        sitio.</small>
    </div>
</form>

{% endblock %}
