{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content-title %}{% blocktrans %}Liga {{ league }}{% endblocktrans %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            {% include 'ega/_user_stats.html' %}

            {% if top_ranking %}
                <h3 class="title">
                    {% trans 'Posiciones' %}
                </h3>
                {% include 'ega/_ranking_table.html' with ranking=top_ranking delta=1 %}
                <p class="title-action"><strong>
                <a href="{% url 'ega-league-ranking' tournament.slug league.slug %}">
                {% trans 'ver tabla completa' %}</a></strong></p>
            {% endif %}
        </div>

        <hr class="visible-xs" />

        <div class="col-md-8">
            {% include  'ega/_league_detail.html' %}
        </div>
    </div>

{% endblock %}
