{% extends 'base.html' %}
{% load i18n %}

{% block content-title %}Ligas de amigos{% endblock %}

{% block content %}

<div class="section">
<h4 class="title">Nueva liga</h4>
<form method="POST" action="{% url 'ega-leagues' %}" class="form-inline" role="form" id="new-league">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label class="control-label" for="{{ field.id }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
        <span class="control-label">
        {% for error in field.errors %}{{ error }}{% endfor %}
        </span>
        {% endif %}
    </div>
    {% endfor %}
    <button name="create" type="submit" class="btn btn-primary">Crear liga</button>
</form>
</div>

<div class="section">
<h4 class="title">Tus ligas en {{ current_tournament.name }}</h4>
{% for league in leagues %}
{% include  'ega/_league_detail.html' %}
{% empty %}
    <p>No tenés ligas de amigos... create una ahora!</p>
{% endfor %}
</ul>
</div>

{% endblock %}
