{% extends 'base.html' %}
{% load i18n %}

{% block content-title %}Liga de amigos{% endblock %}

{% block content %}

<form method="POST" action="{% url 'create-league' %}" class="form-inline" role="form">
    {% csrf_token %}

    {% for field in form %}
    <p><div class="form-group {% if field.errors %}has-error{% endif %}">
    <label class="control-label" for="{{ field.id }}">
        {{ field.label }}
    </label>
    {{ field }}
    <label class="control-label">
    {% for error in field.errors %}
        {{ error }}
    {% endfor %}
    </label>
    </div></p>
    {% endfor %}
    <button name="create" type="submit" class="btn btn-primary">Crear liga</button>
</form>

{% endblock %}
