{% extends 'base.html' %}
{% load i18n %}

{% block content-title %}{% blocktrans %}Ligas de amigos{% endblocktrans %}{% endblock %}

{% block content %}

<div class="section">
<h4 class="title">{% trans 'Nueva liga' %}</h4>
<form method="POST" action="{% url 'ega-leagues' tournament.slug %}" class="form-inline" role="form" id="new-league">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label class="control-label" for="{{ field.id }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
        <span class="control-label">
        {% for error in field.errors %}{{ error }}{% endfor %}
        </span>
        {% endif %}
    </div>
    {% endfor %}
    <button name="create" type="submit" class="btn btn-primary">{% trans 'Crear liga' %}</button>
</form>
</div>

<div class="section">
<h4 class="title">{% blocktrans %}Tus ligas en {{ tournament.name }}{% endblocktrans %}</h4>
{% for league in leagues %}
{% include  'ega/_league_detail.html' %}
{% empty %}
    <p>{% trans 'No tenés ligas de amigos... create una ahora!' %}</p>
{% endfor %}
</ul>
</div>

{% endblock %}
