{% extends 'base.html' %}
{% load ega_tags %}
{% load staticfiles %}


{# block extra-head #}

<script type="text/javascript">

function process_data(data){
    for (var i = 0; i < data.length; i++){
        match = data[i];
        if (match.home_team.code == '{{ match.home.code }}' && match.away_team.code == '{{ match.away.code }}'){
            break;
        }
    }

    if (i == data.length){
        return;
    }

    var home_team = match.home_team;
    var away_team = match.away_team;

    var home_events = match.home_team_events;
    var away_events = match.away_team_events;

    $('#' + home_team.code + '-goals').text(home_team.goals);
    $('#' + away_team.code + '-goals').text(away_team.goals);
    $('#' + away_team.code + '-goals-responsive').text(away_team.goals);

    $('#' + home_team.code + '-stats').text('');
    $.each(home_events, function(key, value){
        $('#' + home_team.code + '-stats').append(
            '<p title="' + value.type_of_event + '" class="home-event home-' + value.type_of_event + '">' + value.time + '\' ' + value.player + '</p>');
    });

    $('#' + away_team.code + '-stats').text('');
    $.each(away_events, function(key, value){
        $('#' + away_team.code + '-stats').append(
            '<p title="' + value.type_of_event + '" class="away-event away-' + value.type_of_event + '">' + value.time + '\' ' + value.player + '</p>');
    });

    if (match.status == 'in progress') {
        setTimeout(function() { update_match(); }, 30000);
        $('#match-status').text('En juego');
    }else if (match.status == 'future') {
        setTimeout(function() { update_match(); }, 30000);
        $('#match-status').text('Por jugarse');
    }else{
        $('#match-status').text('Finalizado');
    }
}


function update_match(){
    {% if finished %}
    var url = 'http://worldcup.sfg.io/matches/country?fifa_code={{ match.home.code }}';
    {% else %}
    var url = 'http://worldcup.sfg.io/matches/today/';
    {% endif %}
    $.get(url, {}, process_data);
}

$(document).ready(function () {
    update_match();
});
</script>

{# endblock #}


{% block content-title %}{% endblock %}

{% block content %}

    {% with home=match.home away=match.away %}
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    {% show_prediction_trends match %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center match-status">
                    <span id="match-status" class="label label-default"></span>
                    {% if not finished %}<span><img src="{% static 'images/timer.gif' %}"></span>{% endif %}
                    {{ match.description }} | {{ match.when|date:"F j, H:i" }}
                    {% if match.referee %}
                        <br/><img src="{% static 'images/whistle_icon.png' %}" />
                        {{ match.referee }}
                    {% endif %}
                    {% if match.location %}<br/>Estadio: {{ match.location }}{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-10">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h6 class="panel-title home-stats">
                                    <strong>{{ home }}</strong>
                                    {% if home.image %}
                                    <img class="team-image-small home-image" src="{{ home.image.url }}" />
                                    {% endif %}</h6>
                                </div>
                                <div class="panel-body" id="{{ home.code }}-stats">
                                    {% for event in events %}
                                        {% if event.team == home %}
                                            <p title="{{ event.description }}" class="home-event home-{{ event.kind }}">{{ event.minute }}' {{ event.player }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 text-center">
                            <span class="match-goals" id="{{ home.code }}-goals">
                            {% if finished %}{{ match.home_goals }}{% else %}-{% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-2 text-center hidden-xs">
                            <span class="match-goals" id="{{ away.code }}-goals">
                            {% if finished %}{{ match.away_goals }}{% else %}-{% endif %}
                            </span>
                        </div>
                        <div class="col-xs-10">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h6 class="panel-title away-stats">
                                    <strong>{{ away }}</strong>
                                    {% if away.image %}
                                    <img class="team-image-small away-image" src="{{ away.image.url }}" />
                                    {% endif %}</h6>
                                </div>
                                <div class="panel-body away-stats" id="{{ away.code }}-stats">
                                    {% for event in events %}
                                        {% if event.team == away %}
                                            <p title="{{ event.description }}" class="away-event away-{{ event.kind }}">{{ event.minute }}' {{ event.player }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 text-center visible-xs">
                            <span class="match-goals" id="{{ away.code }}-goals-responsive">
                            {% if finished %}{{ match.away_goals }}{% else %}-{% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <small>datos provistos por</small>
                    <a target="_blank" href="http://resultados-futbol.com/">
                        <img src="{% static 'images/rf-logo.png' %}" /></a>
                </div>
            </div>
        </div>
    {% endwith %}

    {% if finished %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h6 class="panel-title">Aciertos exactos ({{ exacts.count }})</h6>
                </div>
                <div class="panel-body">
                    <p>{% for p in exacts %}
                        {% if p.user.avatar %}
                            <img src="{{ p.user.avatar.url }}" class="team-image-xsmall" title="{{ p.user.username }}" />
                        {% else %}
                            <img src="{% static 'images/unknown.png' %}" class="team-image-xsmall" title="{{ p.user.username }}" />
                        {% endif %}
                    {% endfor %}</p>
                    {% with winners_count=winners.count %}
                    <p><small>Hubo {{ winners_count }} persona{{ winners_count|pluralize }}
                    que sum{{ winners_count|pluralize:"ó,aron"}} {% if match.starred %}2 puntos (estrella){% else %}1 punto{% endif %}.</small></p>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if clips %}
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div id="goals-slide" class="carousel slide" data-ride="carousel" data-interval="false">

        <ol class="carousel-indicators">
            {% for video in clips %}
                <li data-target="#goals-slide" data-slide-to="{{ forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>

        <div class="carousel-inner text-center" role="listbox">
            {% for video in clips %}
                <div class="item{% if forloop.first %} active{% endif %}">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ video.video_id }}?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>

        <a class="left carousel-control" href="#goals-slide" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#goals-slide" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>

    </div>
    </div>
    {% endif %}

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SHORTNAME }}';
        var disqus_title = '{{ current_tournament.slug }}-{{ match.id }}-{{ match.home.code }}-{{ match.away.code }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>


{% endblock %}
