{% extends 'base.html' %}
{% load i18n %}
{% load ega_tags %}
{% load static %}


{% block content-title %}{% endblock %}

{% block content %}

    {% with home=match.home away=match.away %}
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    {% show_prediction_trends match %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center match-status">
                    <span id="match-status" class="label label-default"></span>
                    {% if not match.finished %}<span><img src="{% static 'images/timer.gif' %}"></span>{% endif %}
                    {{ match.when|date:"F j, H:i" }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h6 class="panel-title home-stats">
                                    <strong>{% firstof home match.home_placeholder %}</strong>
                                    {% if home.image %}
                                    <img class="team-image-small home-image" src="{{ home.image.url }}" />
                                    {% endif %}</h6>
                                </div>
                                <div class="panel-body" id="{{ home.code }}-stats">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 text-center">
                            <span class="match-goals" id="{{ home.code }}-goals">{{ match.home_goals|default_if_none:"-" }}</span>
                            {% if match.pk_home_goals != None %}[{{ match.pk_home_goals }}]{% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-3 text-center hidden-xs">
                            {% if match.pk_away_goals != None %}[{{ match.pk_away_goals }}]{% endif %}
                            <span class="match-goals" id="{{ away.code }}-goals">{{ match.away_goals|default_if_none:"-" }}</span>
                        </div>
                        <div class="col-xs-9">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h6 class="panel-title away-stats">
                                    <strong>{% firstof away match.away_placeholder %}</strong>
                                    {% if away.image %}
                                    <img class="team-image-small away-image" src="{{ away.image.url }}" />
                                    {% endif %}</h6>
                                </div>
                                <div class="panel-body away-stats" id="{{ away.code }}-stats">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 text-center visible-xs">
                            <span class="match-goals" id="{{ away.code }}-goals-responsive">{{ match.away_goals|default_if_none:"-" }}</span>
                            {% if match.pk_away_goals != None %}[{{ match.pk_away_goals }}]{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}

    {% if match.finished %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h6 class="panel-title">Aciertos exactos ({{ exacts.count }})</h6>
                </div>
                <div class="panel-body">
                    <p>{% for p in exacts %}
                        {% if p.user.avatar %}
                            <img src="{{ p.user.avatar.url }}" class="team-image-xsmall" title="{{ p.user.username }}" />
                        {% else %}
                            <img src="{% static 'images/unknown.png' %}" class="team-image-xsmall" title="{{ p.user.username }}" />
                        {% endif %}
                    {% endfor %}</p>
                    {% with winners_count=winners.count %}
                    <p><small>Hubo {{ winners_count }} persona{{ winners_count|pluralize }}
                    que sum{{ winners_count|pluralize:"ó,aron"}} {% if match.starred %}2 puntos (estrella){% else %}1 punto{% endif %}.</small></p>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
