{% extends 'base.html' %}
{% load i18n %}
{% load ega_tags %}
{% load news_tags %}
{% load staticfiles %}

{% block content-title %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="hidden-xs">
            <h3 class="title">{% trans 'Blog' %} <small><a href="http://blog.el-ega.com.ar">blog.el-ega</a></small></h3>
            {% latest_news source='ega' latest=3 %}
        </div>
    </div>

    <div class="col-md-8">
        <h3 class="title">{% trans 'Próximos partidos' %}</h3>

        {% regroup next_matches by match.tournament as match_list %}

        <ul class="nav text-right nav-tabs" role="tablist">
            {% for tournament in match_list %}
            <li role="presentation"{% if forloop.first %} class="active"{% endif %}>
                <a href="#{{ tournament.grouper.slug }}" aria-controls="{{ tournament.grouper.slug }}" role="tab" data-toggle="tab">{{ tournament.grouper.name }}</a></li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for tournament in match_list %}
            <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ tournament.grouper.slug }}">

            {% for row in tournament.list|slice:":20" %}
            <div class="row">
            <div class="col-md-3 text-muted">{{ row.match.when|date:"F j, P" }}</div>
            <div class="col-md-3 col-xs-4">
                <strong>{% firstof row.match.home.name row.match.home_placeholder %}</strong>
            </div>
            <div class="col-md-3 col-xs-4">
                <strong>{% firstof row.match.away.name row.match.away_placeholder %}</strong>
            </div>
            <div class="col-md-3 col-xs-4">
                <a class="text-info" href="{% url 'ega-next-matches' tournament.grouper.slug %}#{{ row.match.id }}"><span class="glyphicon glyphicon-pencil"></span></a>
                {% if row.prediction %}<span class="text-success">
                        <span class="glyphicon glyphicon-check"></span>
                        {% with prediction=row.prediction %}
                        ({{ prediction.home_goals }}-{{ prediction.away_goals }}{% if prediction.penalties_home %}, {% trans 'pasa' %} {{ row.match.home.code }}{% elif prediction.penalties_away %}, {% trans 'pasa'%} {{ row.match.away.code }}{% endif %})
                        {% endwith %}
                        </span>
                {% endif %}
            </div>
            </div>
            {% empty %}
            <p class="text-muted">{% trans 'No hay partidos por jugar' %}</p>
            {% endfor %}

            </div>
            {% endfor %}
        </div>

        <hr/>

        {% for t in available_tournaments %}
            <h4 class="title">
                <strong>{{ t.name }}</strong>
                <a class="pull-right" href="{% url 'ega-home' t.slug %}"><span class="glyphicon glyphicon-log-in"></span> <small>ir</small></a>
            </h4>
            <dl>
                {% with top3=t.ranking|slice:":3" %}
                {% if top3 %}
                <dt>Posiciones
                    <a class="small" href="{% url 'ega-ranking' t.slug %}"><span class="glyphicon glyphicon-sort-by-order"></span></a>
                </dt>
                <dd>
                {% for row in top3 %}
                    <span class="text-muted">{{ forloop.counter }}.</span>
                    {{ row.username }} ({{ row.total }}pts){% if not forloop.last %} |{% endif %}
                {% endfor %}
                </dd>
                {% endif %}
                {% endwith %}

                {% get_user_stats request.user t as stats %}
                {% if stats.count > 0 %}
                <dt>{% trans 'Performance' %}</dt>
                <dd>
                {% blocktrans count score=stats.score %}{{ score }} punto{% plural %}{{ score }} puntos{% endblocktrans %}
                {% blocktrans count played=stats.count %}{{ played }} partido jugado,{% plural %}{{ played }} partidos jugados,{% endblocktrans %}
                {% blocktrans count winners=stats.winners %}{{ winners }} acierto,{% plural %}{{ winners }} aciertos,{% endblocktrans %}
                {% blocktrans count exacts=stats.exacts %}{{ exacts }} exacto{% plural %}{{ exacts }} exactos{% endblocktrans %}
                </dd>
                {% endif %}

            </dl>
        {% endfor %}

        <hr/>

        <h5>{% trans 'Torneos finalizados' %}</h5>
        <p class="small">
        {% for t in past_tournaments %}
            <a href="{% url 'ega-home' t.slug %}">{{ t.name }}</a>{% if not forloop.last %} |{% endif %}
        {% endfor %}
        </p>

    </div>
</div>
{% endblock %}
