{% extends 'base.html' %}
{% load ega_tags %}
{% load humanize %}
{% load staticfiles %}

{% block extra-head %}
<script type="text/javascript">

    function check_tie(prefix) {
        if ($('select[name=' + prefix + '-home_goals]').val() == $('select[name=' + prefix + '-away_goals]').val()){
            $('input[name=' + prefix + '-penalties]').prop( "disabled", false);
            $('span#' + prefix + '-help').css("color", "#333");
        }else{
            $('input[name=' + prefix + '-penalties]').prop({"disabled": true, "checked": false});
            $('span#' + prefix + '-help').css("color", "#bbb");
        }
    }

    $(document).ready(function () {
        var prefixes = [{% for form in formset.forms %}'{{ form.prefix }}'{% if not forloop.last %},{% endif %}{% endfor %}];
        $.each(prefixes, function(index, prefix) {
            $('select[name=' + prefix + '-home_goals]').change(function() {check_tie(prefix)});
            $('select[name=' + prefix + '-away_goals]').change(function() {check_tie(prefix)});

            check_tie(prefix);
        });
    });
</script>
{% endblock %}

{% block content-title %}Próximos partidos{% endblock %}

{% block content %}

<p><small>Se muestran los partidos a jugarse dentro de los próximos 7 días. Los pronósticos se pueden modificar hasta la fecha límite (deadline) de cada partido. Asegurarse de guardar los cambios.</small></p>

{% if formset.forms %}

    {% regroup formset.forms by instance.match.when as form_list %}

    <form method="POST" action="">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for group in form_list %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">
                <small>{{ group.grouper|date:"F j, H:i" }} |
                    DEADLINE: {{ group.list.0.instance.match.deadline|naturaltime }}</small></h6>
            </div>

        {% for form in group.list %}
            <a name="{{ form.instance.match_id }}"></a>
            {{ form.id }}
            {{ form.match }}

            {% with match=form.instance.match %}
            {% with home=match.home away=match.away %}
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        {% show_prediction_trends match %}
                    </div>
                </div>
                {% if form.instance.starred %}
                <div class="text-center visible-xs" class="starred-xs">
                    <img src="{% static 'images/star.jpg' %}" style="max-width:25px"/>
                </div>
                {% endif %}
                <div class="row {% if form.instance.starred %}starred{% endif %}">
                    <div class="col-xs-12 col-md-4">
                        {% include "ega/_team_details.html" with condition="home" team=home stats=form.instance.home_team_stats %}
                    </div>
                    <div class="col-xs-12 col-md-4 text-center{% if form.home_goals.errors or form.away_goals.errors %} has-error{% endif %}">
                        {% if form.non_field_errors %}
                        <div class="row">
                            <div class="col-md-12 text-center bg-danger">
                                {{ form.non_field_errors|join:", " }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-xs-6"><p class="goals-input">{{ form.home_goals }}</p></div>
                            <div class="col-xs-6"><p class="goals-input">{{ form.away_goals }}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 penalties-input">
                                <small>{% if match.knockout %}
                                {% with penalties=form.penalties %}
                                {{ penalties.0.tag }} <span id="{{ form.prefix }}-help">
                                <label for="{{ penalties.0.id_for_label }}">{{ penalties.0.choice_label }}</label> | penales |
                                <label for="{{ penalties.1.id_for_label }}">{{ penalties.1.choice_label }}</label></span> {{ penalties.1.tag }}
                                {% endwith %}{% endif %}</small>
                                </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        {% include "ega/_team_details.html" with condition="away" team=away stats=form.instance.away_team_stats %}
                    </div>
                </div>
                <div class="text-center hidden-xs match-metadata">
                    <small>
                    {% if match.description %}{{ match.description }}{% endif %}
                    {% if match.location %}| {{ match.location }}{% endif %}
                    </small>
                </div>
            </div>
            {% endwith %}
            {% endwith %}
        {% endfor %}
        </div>
        {% endfor %}

        <div class="row">
            <div class="col-xs-12 text-center">
                <button name="save" type="submit" class="btn btn-lg btn-primary">Guardar</button>
            </div>
        </div>

    </form>

{% else %}
    <p>No hay partidos para jugar.</p>
{% endif %}

{% endblock %}
