{% extends 'base.html' %}
{% load ega_tags %}
{% load humanize %}

{% block content-title %}Próximos partidos{% endblock %}

{% block content %}

<h2>{{ tournament.name }}</h2>

{% if formset.forms %}

    {% regroup formset.forms by instance.match.when as form_list %}

    <form method="POST" action="">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for group in form_list %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">
                <small>{{ group.grouper|date:"l d F f" }} |
                    DEADLINE: {{ group.list.0.instance.match.deadline|naturaltime }}</small></h6>
            </div>

        {% for form in group.list %}
            {{ form.id }}
            {{ form.match }}

            {% with match=form.instance.match %}
            {% with home=match.home away=match.away %}
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        {% show_prediction_trends match %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {% include "ega/_team_details.html" with condition="home" team=home stats=form.instance.home_team_stats %}
                    </div>
                    <div class="col-md-2 text-center">
                        <p class="goals-input">{{ form.home_goals }}</p>
                    </div>
                    <div class="col-md-2 text-center">
                        <p class="goals-input">{{ form.away_goals }}</p>
                    </div>
                    <div class="col-md-4">
                        {% include "ega/_team_details.html" with condition="away" team=away stats=form.instance.away_team_stats %}
                    </div>
                </div>
                <div class="text-center hidden-xs match-metadata">
                    <small>Grupo H | Estadio Foo</small>
                </div>
            </div>
            {% endwith %}
            {% endwith %}
        {% endfor %}
        </div>
        {% endfor %}

        <div class="row">
            <div class="col-xs-12 text-center">
                <button name="save" type="submit" class="btn btn-lg btn-primary">Guardar</button>
            </div>
        </div>

    </form>

{% else %}
    <p>No hay partidos para jugar.</p>
{% endif %}

{% endblock %}
