{% extends 'base.html' %}
{% load staticfiles %}

{% block content-title %}Tu perfil{% endblock %}

{% block content %}

<div>
    <span class="pull-right">
        {% if request.user.avatar %}
        <img class="user-avatar-big" src="{{ request.user.avatar.url }}" />
        {% else %}
        <img class="user-avatar-big" src="{% static 'images/unknown.png' %}" />
        {% endif %}
    </span>
    <div>
        <label>Emails</label>
        <ul class="list-unstyled">
        {% for email in request.user.emailaddress_set.all %}
            <li>
                {{ email.email }}
                {% if not email.verified %}<a href="{% url 'verify-email' email.email %}">verificar</a>
                {% else %}<span class="badge">verificada</span>{% endif %}
                {% if email.primary %}<span class="badge">principal</span>{% endif %}
            </li>
        {% endfor%}
        </ul>

        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}

            {% include 'ega/_form_errors_all_snippet.html' %}

            {% for field in form %}
                {% include 'ega/_field_snippet.html' %}
            {% endfor %}

            <div class="text-center">
                <button name="update" type="submit" class="btn btn-primary">Actualizar profile</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
