{% extends 'base.html' %}
{% load staticfiles %}

{% block content-title %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-3 text-center">
        {% if request.user.avatar %}
        <img class="user-avatar-big" src="{{ request.user.avatar.url }}" />
        {% else %}
        <img class="user-avatar-big" src="{% static 'images/unknown.png' %}" />
        {% endif %}
    </div>
    <div class="col-md-6">
        <label>Emails</label>
        <ul class="list-unstyled">
        {% for email in request.user.emailaddress_set.all %}
            <li>
                {{ email.email }}
                {% if not email.verified %}<a href="{% url 'verify-email' email.email %}">verificar</a>
                {% else %}<span class="badge">verificada</span>{% endif %}
                {% if email.primary %}<span class="badge">principal</span>{% endif %}
            </li>
        {% endfor%}
        </ul>

        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}

            {% include 'ega/_form_errors_all_snippet.html' %}

            {% for field in form %}
                {% include 'ega/_field_snippet.html' %}
            {% endfor %}

            <div>
                <button name="update" type="submit" class="btn btn-primary">Actualizar perfil</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
