{% extends 'base.html' %}
{% load staticfiles %}

{% block extra-head %}
<script>
    $(document).ready(function () {
        $('select[name=fecha]').change(
            function (){ window.location = $(this).val(); });
    });
</script>
{% endblock %}

{% block content-title %}Posiciones{% endblock %}

{% block content %}

<h2>{{ tournament.name }}{% if fecha %} <small>Fecha {{ fecha }}</small>{% endif %}</h2>


<div class="row">
    <div class="col-md-4 visible-xs">
        {% include 'ega/_user_stats.html' %}
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <select name="fecha" class="pull-right">
            <option value="{{ base_url }}">Total</option>
            {% for f in choices %}
                <option value="{{ base_url }}f/{{ f }}"
                        {% ifequal fecha f %}selected="selected"{% endifequal %}>
                    Fecha {{ f }}</option>
            {% endfor %}
        </select>
        <div class="clearfix visible-xs"></div>

        <ul class="nav nav-tabs">
        <li class="{% if not league %}active{% endif %}">
            <a href="{% url 'ega-ranking' tournament.slug %}{% if fecha %}f/{{ fecha }}{% endif %}">
                General</a></li>
        {% for l in request.user.league_set.all %}
            {% if l.tournament == tournament %}
            <li class="{% if league == l %}active{% endif %}">
                <a href="{% url 'ega-league-ranking' tournament.slug l.slug %}{% if fecha %}f/{{ fecha }}{% endif %}">{{ l.name }}</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        {% include 'ega/_ranking_table.html' with delta=ranking.start_index score_details=1 %}

        <div class="text-center">
            <ul class="pagination">
                {% if ranking.has_previous %}
                    <li><a href="?page={{ ranking.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                {% if ranking.paginator.num_pages > 1 %}
                {% for p in ranking.paginator.page_range %}
                    <li><a href="?page={{ p }}">{{ p }}</a></li>
                {% endfor %}
                {% endif %}
                {% if ranking.has_next %}
                    <li><a href="?page={{ ranking.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>

    </div>

    <div class="col-md-4 hidden-xs">
        <div data-spy="affix" style="width: 300px">
            {% include 'ega/_user_stats.html' %}

            {% comment %}
            <h4>Otras estadísticas</h4>
            <p>Mayor cantidad de exactos</p>
            <p>Mayor cantidad de aciertos</p>
            <p>Mayor cantidad de fechas ganadas</p>
            <p>Equipo más votado como ganador</p>
            <p>Equipo más votado como perdedor</p>
            {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}
