{% extends 'base.html' %}
{% load staticfiles %}

{% block content-title %}Posiciones{% endblock %}

{% block content %}

<h2>{{ tournament.name }}</h2>

<div class="row">
    <div class="col-md-8">
        <ul class="nav nav-tabs">
        <li class="active"><a href="#">General</a></li>
        {% comment %}
        <li><a href="#">Mi Liga 1</a></li>
        <li><a href="#">Mi Liga 2</a></li>
        {% endcomment %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <table class="table table-striped table-hover ranking">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Usuario</th>
                    <th class="text-right" style="padding-right: 25px">Puntos</th>
                </tr>
            </thead>
            <tbody>
            {% for row in ranking %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img class="avatar" src="{% static 'images/logo.gif' %}" /></td>
                    <td>{{ row.user__username }}</td>
                    <td class="text-right" style="padding-right: 25px"><strong>{{ row.total }}</strong></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination">
                {% if ranking.has_previous %}
                    <li><a href="?page={{ ranking.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                {% if ranking.paginator.num_pages > 1 %}
                {% for p in ranking.paginator.page_range %}
                    <li><a href="?page={{ p }}">{{ p }}</a></li>
                {% endfor %}
                {% endif %}
                {% if ranking.has_next %}
                    <li><a href="?page={{ ranking.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>

    </div>

    <div class="col-md-4">
        <div data-spy="affix">
            <div class="media well" style="width:300px">
                <span class="pull-right">
                    <img class="media-object user-avatar" src="{% static 'images/logo.gif' %}" />
                </span>
                <div class="media-body">
                    <h4 class="media-heading">{{ user.username }}</h4>
                    <strong>{{ stats.score }} punto{{ stats.score|pluralize }}</strong><br/>
                    {{ stats.winners }} acierto{{ stats.winners|pluralize }},
                    {{ stats.exacts }} exacto{{ stats.exacts|pluralize }}<br/>
                </div>
            </div>

            {% comment %}
            <h4>Otras estadísticas</h4>
            <p>Mayor cantidad de exactos</p>
            <p>Mayor cantidad de aciertos</p>
            <p>Equipo más votado como ganador</p>
            <p>Equipo más votado como perdedor</p>
            {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}
