{% extends 'base.html' %}
{% load staticfiles %}

{% block content-title %}Posiciones{% endblock %}

{% block content %}

<h2>{{ tournament.name }}
<small>
{% if playoffs %}Fase Final |
<a href="{% if league %}{% url 'ega-league-ranking' tournament.slug league.slug %}{% else %}{% url 'ega-ranking' tournament.slug %}{% endif %}">Total</a>{% else %}
<a href="{% if league %}{% url 'ega-league-ranking-playoffs' tournament.slug league.slug %}{% else %}{% url 'ega-ranking-playoffs' tournament.slug %}{% endif %}">Fase Final</a> | Total{% endif %}</small></h2>

<div class="row">
    <div class="col-md-8">
        <ul class="nav nav-tabs">
        {% if playoffs %}
        <li class="{% if not league %}active{% endif %}">
            <a href="{% url 'ega-ranking-playoffs' tournament.slug %}">General</a></li>
        {% for l in request.user.league_set.all %}
            <li class="{% if league == l %}active{% endif %}">
                <a href="{% url 'ega-league-ranking-playoffs' tournament.slug l.slug %}">{{ l.name }}</a>
            </li>
        {% endfor %}
        {% else %}
        <li class="{% if not league %}active{% endif %}">
            <a href="{% url 'ega-ranking' tournament.slug %}">General</a></li>
        {% for l in request.user.league_set.all %}
            <li class="{% if league == l %}active{% endif %}">
                <a href="{% url 'ega-league-ranking' tournament.slug l.slug %}">{{ l.name }}</a>
            </li>
        {% endfor %}
        {% endif %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        {% include 'ega/_ranking_table.html' with delta=ranking.start_index score_details=1 %}

        <div class="text-center">
            <ul class="pagination">
                {% if ranking.has_previous %}
                    <li><a href="?page={{ ranking.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                {% if ranking.paginator.num_pages > 1 %}
                {% for p in ranking.paginator.page_range %}
                    <li><a href="?page={{ p }}">{{ p }}</a></li>
                {% endfor %}
                {% endif %}
                {% if ranking.has_next %}
                    <li><a href="?page={{ ranking.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>

    </div>

    <div class="col-md-4 hidden-xs">
        <div data-spy="affix" style="width: 300px">
            {% include 'ega/_user_stats.html' %}

            {% comment %}
            <h4>Otras estadísticas</h4>
            <p>Mayor cantidad de exactos</p>
            <p>Mayor cantidad de aciertos</p>
            <p>Equipo más votado como ganador</p>
            <p>Equipo más votado como perdedor</p>
            {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}
