{% extends 'base.html' %}
{% load staticfiles %}

{% block extra-head %}
<script>
    $(document).ready(function () {
        $('select[name=round]').change(
            function (){ window.location = $(this).val(); });
    });
</script>
{% endblock %}

{% block content-title %}Estadísticas{% endblock %}

{% block content %}

<h2>{{ tournament.name }}</h2>

<div class="row">
    <div class="col-md-8">
        <table class="table table-striped table-hover ranking">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th></th>
                    <th class="text-right hidden-xs">J</th>
                    <th class="text-right hidden-xs">G</th>
                    <th class="text-right hidden-xs">E</th>
                    <th class="text-right hidden-xs">P</th>
                    <th class="text-right hidden-xs">GF</th>
                    <th class="text-right hidden-xs">GC</th>
                    <th class="text-right hidden-xs">DG</th>
                    <th class="text-right score">Puntos</th>
                </tr>
            </thead>
            <tbody>
            {% for row in ranking %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{% if row.team.image %}
                        <img class="team-image-xsmall" src="{{ MEDIA_URL }}{{ row.team.image }}" />
                        {% endif %}
                    </td>
                    <td>{{ row.team }}</td>
                    <td class="text-right hidden-xs">{{ row.played }}</td>
                    <td class="text-right hidden-xs">{{ row.won }}</td>
                    <td class="text-right hidden-xs">{{ row.tie }}</td>
                    <td class="text-right hidden-xs">{{ row.lost }}</td>
                    <td class="text-right hidden-xs">{{ row.gf }}</td>
                    <td class="text-right hidden-xs">{{ row.gc }}</td>
                    <td class="text-right hidden-xs">
                        {% if row.dg >= 0 %}+{% endif %}{{ row.dg }}</td>
                    <td class="text-right score"><strong>{{ row.points }}</strong></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h4 class="title">Top 5 - Más repetidos</h4>
        <div class="row">
        <div class="col-xs-6">
            <div class="text-center">
                <p><strong>Resultados</strong></p>
                {% for result, occurrences in results %}
                    <strong>{{ result.0 }} - {{ result.1 }}</strong>
                    ({{ occurrences }})<br/>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="text-center">
                <p><strong>Pronósticos</strong></p>
                {% for result, occurrences in predictions %}
                    <strong>{{ result.0 }} - {{ result.1 }}</strong>
                    ({{ occurrences }})<br/>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
