black==22.6.0
demiurge==0.2
Django==2.2.28
django-allauth==0.40.0
django-nocaptcha-recaptcha==0.0.20
feedparser==5.2.1
flake8==3.7.8
Pillow==9.0.1
psycopg2-binary==2.8.4
pygal==2.4.0
TwitterAPI==2.5.9
