{% extends 'base.html' %}
{% load uni_form_tags %}

{% block content %}
    <!-- Example row of columns -->
    <div class="row">
        <div class="span6 offset2">
        <h3>Entrar</h3>
        <p>
            <small>Entrar usando mi cuenta de <a href="{% url socialauth_begin 'twitter' %}">Twitter</a> o <a href="{% url socialauth_begin 'facebook' %}">Facebook</a>.</small>
        </p>

        <form action="." method="POST" class="form-horizontal">
            {% csrf_token %}

            {{ form|as_uni_form }}

            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Entrar</button>
                <small>o podés <a href="#">registrarte aquí</a></small>
            </div>
            </fieldset>
        </form>

        </div>
    </div>
{% endblock %}
