{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load static %}

{% block navbar-brand-logo %}
    <a class="navbar-brand visible-xs" href="{% if tournament %}{% url 'ega-home' tournament.slug %}{% else %}{% url 'meta-home' %}{% endif %}">
        <img class="nav-logo" src="{% static 'images/logo.png' %}" />el Ega</a>
{% endblock %}

{% block content-title %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-3 hidden-xs">
        <img src="{% static 'images/logo.png' %}" class="login-logo" />
    </div>

    <div class="col-md-5">
        <h2>el Ega</h2>
        <p><small>{% trans 'El juego de pronósticos deportivos' %}</small></p>

        <p>{% blocktrans %}Visitá <a href="http://blog.el-ega.com.ar">nuestro blog</a>, seguinos en <a href="https://twitter.com/elEgaOk">twitter</a>!{% endblocktrans%}</p>

        <dl>
            <dt>{% trans 'Pronosticá' %}</dt>
            <dd>{% trans 'Intentá acertar los resultados de los partidos y ganá puntos de acuerdo a la precisión de tus pronósticos.' %}</dd>

            <dt>{% trans 'Competí' %}</dt>
            <dd>{% trans 'No sólo con todos los usuarios del sitio, también podés armar una liga propia entre amigos y/o compañeros de trabajo.' %}</dd>

            <dt>{% trans 'Jugá!' %}</dt>
            <dd>{% blocktrans %}Si hiciste al menos un pronóstico en una edición anterior, tu usuario todavía es válido!
                Si no, es un buen momento para <a href="{{ signup_url }}">registrarte</a>.{% endblocktrans %}</dd>
        </dl>

    </div>

    <div class="col-md-4">
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers  %}
        <div class="text-center providers-login">
            <p><label>{% trans 'Logueate con' %}</label></p>
            <div>
            {% for provider in socialaccount_providers %}
                {% if provider.id == 'twitter' %}
                <a title="Twitter" href="{% provider_login_url 'twitter' process='login' %}">
                    <img src="{% static 'images/twitter.png' %}" /></a>
                {% endif %}
                {% if provider.id == 'google' %}
                <a title="Google" href="{% provider_login_url 'google' process='login' %}">
                    <img src="{% static 'images/google.png' %}" /></a>
                {% endif %}
                {% if provider.id == 'facebook' %}
                <a title="Facebook" href="{% provider_login_url 'facebook' process='login' %}">
                    <img src="{% static 'images/facebook.png' %}" /></a>
                {% endif %}
            {% endfor %}
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
        </div>
    {% endif %}

    <div class="text-center providers-login">
        <form method="POST" action="{% url 'account_login' %}" role="form">
            {% csrf_token %}

            {% include 'ega/_form_errors_all_snippet.html' %}

            <div class="center-block text-left login-form">
            {% for field in form %}
                {% if field.name == 'remember' %}
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% else %}
                    {% include 'ega/_field_snippet.html' %}
                {% endif %}
            {% endfor %}
            </div>

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
            </div>

            <p><a href="{% url 'account_reset_password' %}">{% trans 'Olvidaste tu contraseña?' %}</a>
                <br/><a href="{{ signup_url }}">{% trans 'Crea una cuenta' %}</a></p>
        </form>
    </div>
    </div>

</div>

<div class="row testimonials">
    <div class="col-md-4 text-center">
        <img src="{% static 'images/testimonials/paul.jpg' %}" class="img-circle" />
        <p><strong>{% trans 'Pulpo Paul' %}</strong>
        <br/>{% trans '"Oráculos éramos los de antes, no me vengan con redes neuronales y machine learning."' %}</p>
    </div>

    <div class="col-md-4 text-center">
        <img src="{% static 'images/testimonials/diegom.jpg' %}" class="img-circle" />
        <p><strong>{% trans 'Diego M.' %}</strong>
        <br/>{% trans '"Eh... eehhhh... ehhh... ga."' %}</p>
    </div>

    <div class="col-md-4 text-center">
        <img src="{% static 'images/testimonials/gonzaloh.png' %}" class="img-circle" />
        <p><strong>{% trans 'Gonzalo H.' %}</strong>
        <br/>{% trans '"Nunca me pierdo una edición de el gran DT."' %}</p>
    </div>

</div>
{% endblock %}
