{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load staticfiles %}

{% block content-title %}{% endblock %}

{% block content %}

<div class="text-center">
    <h2>Torneo de los 30</h2>
    <p><small>el Ega | El juego de pronósticos deportivos</small></p>

    <p>Visitá <a href="http://blog.el-ega.com.ar">nuestro blog</a>!</p>

    <a href="https://twitter.com/elEgaOk" class="twitter-follow-button" data-show-count="false">Follow @elEgaOk</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>

{% if socialaccount.providers  %}
<div class="text-center providers-login">
    <p><label>Logueate con</label></p>
    <div>
    {% for provider in socialaccount.providers %}
        {% if provider.id == 'twitter' %}
        <a title="Twitter" href="{% provider_login_url 'twitter' process='login' %}">
            <img src="{% static 'images/twitter.png' %}" /></a>
        {% endif %}
        {% if provider.id == 'google' %}
        <a title="Google" href="{% provider_login_url 'google' process='login' %}">
            <img src="{% static 'images/google.png' %}" /></a>
        {% endif %}
        {% if provider.id == 'facebook' %}
        <a title="Facebook" href="{% provider_login_url 'facebook' process='login' %}">
            <img src="{% static 'images/facebook.png' %}" /></a>
        {% endif %}
    {% endfor %}
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
</div>

<div class="text-center">
<p>Si hiciste al menos un pronóstico en una edición anterior, tu usuario todavía es válido!</p>
<p>O podés <a href="{{ signup_url }}">registrarte</a> y luego iniciar sesión acá:</p>

{% endif %}

<form method="POST" action="{% url 'account_login' %}" role="form">
    {% csrf_token %}

    {% include 'ega/_form_errors_all_snippet.html' %}

    <div class="center-block text-left login-form">
    {% for field in form %}
        {% if field.name == 'remember' %}
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% else %}
            {% include 'ega/_field_snippet.html' %}
        {% endif %}
    {% endfor %}
    </div>

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <div class="form-group">
        <button type="submit" class="btn btn-default">{% trans "Sign In" %}</button><br/>
        <a href="{% url 'account_reset_password' %}">Olvidaste tu contraseña?</a>
    </div>
</form>
</div>
{% endblock %}
