{% extends "account/base.html" %}

{% load i18n %}

{% block content-title %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-offset-3 col-md-7">

    <h2>{% trans "Change Password" %}</h2>
    <form method="POST" action="{% url 'account_change_password' %}" role="form">
        {% csrf_token %}

        {% include 'ega/_form_errors_all_snippet.html' %}

        {% for field in form %}
        {% include 'ega/_field_snippet.html' %}
        {% endfor %}

        <button type="submit" class="btn btn-default">{% trans "Change Password" %}</button>
    </form>

    </div>
</div>
{% endblock %}
