{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block content-title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

<form method="POST" action="{% url 'account_set_password' %}" class="form-inline">
    {% csrf_token %}

    {% include 'ega/_form_errors_all_snippet.html' %}

    {% for field in form %}
    {% include 'ega/_field_snippet.html' %}
    {% endfor %}

    <button type="submit" class="btn btn-primary" name="action">{% trans "Set Password" %}</button>
</form>

{% endblock %}
