{% extends "account/base.html" %}

{% load i18n %}

{% block content-title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form method="POST" action="{% url 'account_signup' %}" role="form">
    {% csrf_token %}

    {% for field in form %}
    {% include 'ega/_field_snippet.html' %}
    {% endfor %}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <div class="form-group">
        <button type="submit" class="btn btn-default">{% trans "Sign Up" %}</button>
    </div>
</form>

{% endblock %}
