html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 90px;
    /* Margin bottom by footer height */
    margin-bottom: 90px;
}

dt {
    margin-top: 10px;
}

.login-logo {
    padding-top: 30px;
    padding-bottom: 30px;
}

.testimonials {
    margin-top: 100px;
}

.section {
    margin-top: 25px;
}

.navbar-lower {
    background-color: white;
    top: 50px;
    z-index: 500;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.starred {
    background: url('/static/images/star.jpg') no-repeat center;
}

.starred-row {
    background: url('/static/images/star_alpha.png') no-repeat center center/45px 45px;
}

.starred-font {
    color: #a17f1a;
}

.starred-xs {
    margin-top: -10px;
    margin-bottom: 10px;
}

.title {
    border-bottom: 1px solid #EEE;
    margin-bottom: 20px;
    margin-top: 10px;
}

.history-section {
    margin-top: 50px;
}

.title-action {
    text-align: right;
    margin-top: 10px;
}

.title-main-action {
    text-align: right;
    margin-top: 10px;
    font-size: larger;
}

.tournament-icon {
    max-height: 20px;
}

.badge-pending {
    background-color: #3c463e;
}

.predicted-score {
    color: grey;
}

.nav-logo {
    max-height: 50px;
}

.user-stats {
    width: 100%;
}

.homepage-match-row {
    margin-top: 10px;
}

.providers-login {
    margin: 25px;
}

.login-form {
    max-width: 175px;
}

table.ranking tbody tr td {
    vertical-align: middle;
    word-break: break-all;
}

table.ranking {
    font-size: 1.1em;
}

.ranking .avatar {
    max-width: 50px;
    max-height: 50px;
}

.ranking .score {
    padding-right: 25px;
}

.user-avatar {
    max-width: 75px;
    max-height: 75px;
}

.user-avatar-big {
    max-width: 130px;
    max-height: 130px;
}

.navbar-matches {
    background-color: rgba(248,248,248,0.8);
    border: 0;
    text-align: center;
    padding: 5px;
}

.navbar-matches.affix-top {
    position: fixed;
    bottom: 25px;
    right: 0px;
    width: 100%;
    z-index: 9999 !important;
}

.navbar-matches.affix {
    position: fixed;
    bottom: 25px;
    right: 0px;
    width: 100%;
    z-index: 9999 !important;
}

.team-image {
    max-width: 65px;
}

.team-image-xsmall {
    max-width: 35px;
}

.team-image-small {
    max-width: 65px;
    margin-top: -20px;
}

.team-panel-name {
    margin-top: 15px;
}

.goals-input {
    padding-bottom: 10px;
}

.penalties-input {
    margin-bottom: 20px;
}

.match-metadata {
    position: relative;
    top: -50px;
}

.home-stats {
    color: #333;
    text-align: left;
}

.home-stats .label {
    opacity: 0.7;
}


.home-image {
    float: right;
}

.away-stats {
    color: #333;
    text-align: right;
}

.away-stats .label {
    opacity: 0.7;
}

.away-image {
    float: left;
}

.match-goals {
    font-size: 40px;
}

.match-status {
    margin-bottom: 10px;
}

#match-status {
    margin-right: 10px;
}

p.home-event {
    padding-left: 20px;
    background: url('/static/images/whistle_icon.png') no-repeat;
}

p.away-event {
    padding-right: 20px;
    background: url('/static/images/whistle_icon.png') no-repeat right;
}


p.home-substitution-in {
    background: url('/static/images/in_icon.png') no-repeat;
}

p.home-substitution-out {
    background: url('/static/images/out_icon.png') no-repeat;
}

p.home-yellow-card {
    background: url('/static/images/yellow_card_icon.gif') no-repeat;
}

p.home-second-yellow-card {
    background: url('/static/images/red_card_icon.gif') no-repeat;
}

p.home-red-card {
    background: url('/static/images/red_card_icon.gif') no-repeat;
}

p.home-goal, p.home-goal-penalty {
    background: url('/static/images/ball_icon.png') no-repeat;
}

p.away-substitution-in {
    background: url('/static/images/in_icon.png') no-repeat right;
}

p.away-substitution-out {
    background: url('/static/images/out_icon.png') no-repeat right;
}

p.away-yellow-card {
    background: url('/static/images/yellow_card_icon.gif') no-repeat right;
}

p.away-second-yellow-card {
    background: url('/static/images/red_card_icon.gif') no-repeat right;
}

p.away-red-card {
    background: url('/static/images/red_card_icon.gif') no-repeat right;
}

p.away-goal, p.away-goal-penalty {
    background: url('/static/images/ball_icon.png') no-repeat right;
}

.news-item {
    margin-top: -10px;
    margin-bottom: 25px;
}

table.latest-results {
    margin-bottom: 0px;
}

table.latest-results thead th {
    border-bottom: 1px solid #EEE;
    padding: 2px;
}

table.latest-results tbody td {
    border: 0px;
    padding: 2px;
}

table.latest-results tbody td.team-td {
    width: 40%;
}

table.latest-results tbody td.result-td {
    width: 10%;
}

.progress-bar {
    border: 0;
    box-shadow: none;
}
.progress-tie {
    color: #8A6D3B;
    background-color: #FCF8E3;
}

.progress-local {
    color: #3C763D;
    background-color: #DFF0D8;
}

.progress-away {
    color: #31708F;
    background-color: #D9EDF7;
}

.footer {
    background: url('/static/images/footer-grass.png') repeat-x;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
}

.footer-links {
    margin-top: 55px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.1em;
}

.footer-links a {
    color: green;
}


/* Responsive customizations */

@media (max-width: 768px) {
    .away-stats {
        text-align: left;
    }
    .away-image {
        float: right;
    }
    .title {
        margin-top: 50px;
    }
    p.away-substitution-in, p.away-substitution-out, p.away-yellow-card,
    p.away-red-card, p.away-goal, p.away-goal-penalty {
        background-position: left;
        padding-left: 20px;
    }
    .starred {
        background: none;
    }
    p.home-yellow-card, p.away-yellow-card,
    p.home-substitution-in, p.home-substitution-out,
    p.away-substitution-in, p.away-substitution-out{
        display: none;
    }
}
