html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    /* Margin bottom by footer height */
    margin-bottom: 90px;
}

.title {
    border-bottom: 1px solid #EEE;
    margin-bottom: 20px;
}

.title-action {
    padding-top: 8px;
}

.nav-logo {
    max-height: 50px;
}

.user-stats {
    width: 100%;
}

.homepage-match-row {
    margin-top: 10px;
}

.providers-login {
    margin: 25px;
}

.login-form {
    max-width: 175px;
}

table.ranking tbody tr td {
    vertical-align: middle;
}

table.ranking {
    font-size: 1.1em;
}

.ranking .avatar {
    max-width: 50px;
    max-height: 50px;
}

.ranking .score {
    padding-right: 25px;
}

.user-avatar {
    max-width: 75px;
    max-height: 75px;
}

.team-image {
    max-width: 65px;
}

.team-image-xsmall {
    max-width: 35px;
}

.team-image-small {
    max-width: 65px;
    margin-top: -20px;
}

.team-panel-name {
    margin-top: 15px;
}

.goals-input {
    padding-bottom: 10px;
}

.match-metadata {
    position: relative;
    top: -50px;
}

.home-stats {
    text-align: left;
}

.home-image {
    float: right;
}

.away-stats {
    text-align: right;
}

.away-image {
    float: left;
}

@media (max-width: 768px) {
    .away-stats {
        text-align: left;
    }
    .away-image {
        float: right;
    }
}

.progress-bar {
    border: 0;
    box-shadow: none;
}
.progress-tie {
    color: #8A6D3B;
    background-color: #FCF8E3;
}

.progress-local {
    color: #3C763D;
    background-color: #DFF0D8;
}

.progress-away {
    color: #31708F;
    background-color: #D9EDF7;
}

.footer {
    background: url('/static/images/footer-grass.png') repeat-x;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
}
