{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block extra-head %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content-title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Estás por loguearte en {{ site_name }} usando tu cuenta de
{{ provider_name }}, lo único que falta es que por favor
completes los siguientes datos:{% endblocktrans %}</p>

<form id="signup_form" method="POST" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}

    {% include 'ega/_form_errors_all_snippet.html' %}

    {% for field in form %}
    {% include 'ega/_field_snippet.html' %}
    {% endfor %}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <div class="form-group">
        <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
    </div>
</form>

{% endblock %}
