{% load staticfiles %}
{% load i18n %}
{% load ega_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block html-title %}el Ega{% endblock %}</title>
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

        {% block extra-head %}
        {% endblock %}
    </head>

    <body>

        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% if tournament %}{% url 'ega-home' tournament.slug %}{% else %}{% url 'meta-home' %}{% endif %}">
                <img class="nav-logo" src="{% static 'images/logo.png' %}" />el Ega</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        {% for t in available_tournaments %}
                            {% get_pending_predictions request.user t as pending_count %}
                            <li class="{% if t == tournament %}active{% endif %}">
                                <a href="{% url 'ega-home' t.slug %}" title="{{ t.name }}: {{ pending_count }} pronóstico{{ pending_count|pluralize }} pendiente{{ pending_count|pluralize }}">
                                    {% if t.image %}<img class="tournament-icon" src="{{ t.image.url }}" />
                                    {% else %}<img class="tournament-icon" src="{% static 'images/ball_icon.png' %}" />{% endif %}
                                    <strong class="{% if t != tournament %}visible-xs-inline{% endif %}">{{ t.name }}</strong>
                                    <span class="badge badge-pending"><small>{{ pending_count }}</small></span></a>
                            </li>
                        {% endfor %}
                        {% if tournament %}
                            {% if not tournament.finished %}
                            <li><a href="{% url 'ega-next-matches' tournament.slug %}">Partidos</a></li>
                            {% endif %}
                            <li><a href="{% url 'ega-ranking' tournament.slug %}">Posiciones</a></li>
                            <li><a href="{% url 'ega-stats' tournament.slug %}">{% trans "Estadísticas" %}</a></li>
                            {% if not tournament.finished %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ligas de amigos <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% get_friends_leagues user tournament.slug as leagues %}
                                {% for league in leagues %}
                                    <li><a href="{% url 'ega-league-home' tournament.slug league.slug %}">{{ league.name }}</a></li>
                                {% endfor %}
                                {% if leagues %}
                                    <li class="divider"></li>
                                {% endif %}
                                <li><a href="{% url 'ega-leagues' tournament.slug %}">Ver y crear ligas</a></li>
                            </ul>
                            </li>
                            {% endif %}
                        {% endif %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> {{ user }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'profile' %}">Perfil</a></li>
                        <li><a href="{% url 'logout' %}">{% trans "Sign Out" %}</a></li>
                    </ul>
                    </li>
                    {% else %}
                    <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
                    <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->

        </div>
        </nav>

        <div class="container">
            <h2 class="text-muted">
                {% block content-title %}el Ega{% endblock %}
            </h2>

            <div>
                {% for message in messages %}
                <div id="messages" class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>

            <div>
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer class="footer">
            {% block footer %}
            <div class="text-center footer-links">
                <small><strong>
                <a href="http://blog.el-ega.com.ar">{% trans "Blog" %}</a> |
                <a href="/rules/">{% trans "Reglas" %}</a> |
                <a href="/faq/">{% trans "FAQ" %}</a> |
                &copy 2004-{% now "Y" %} el Ega </strong></small>
            </div>
            {% endblock %}
        </footer>

        {% block analytics %}
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-99589-1', 'auto');
        ga('send', 'pageview');

        </script>
        {% endblock %}
    </body>

</html>
