{% extends 'base.html' %}
{% load news_tags %}
{% load thumbnail %}

{% block before-content %}
    <div class="hero-unit">
        <div class="container">
            <h2>Sumate!</h2>
            <p>Pronosticá los resultados de los partidos y ganá.<br/>
               Armá ligas y duelos con amigos, dejá tus comentarios para cada partido y seguí las estadísticas.</p>
            <p><a class="btn btn-primary btn-large">Registrate »</a>
               <small>o si ya estás registrado, <a href="#">entrá por acá</a>.</small>
            </p>
            <small>Sin registrarte, también podés entrar usando tu cuenta de <a href="{% url socialauth_begin 'twitter' %}">Twitter</a> o <a href="{% url socialauth_begin 'facebook' %}">Facebook</a>!</small>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Example row of columns -->
    <div class="row">
        <div class="span4">
        <h2>Noticias</h2>
        {% latest_news %}
        </div>

        <div class="span4">
        <h2>Resultados</h2>
        <table class="table">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Boca</td>
                    <td>{% thumbnail "images/boca.png" "30x30" as team_img %}
                        <img src="{{ team_img.url }}" />
                        {% endthumbnail %}
                    </td>
                    <td><strong>2</strong></td>
                    <td><strong>0</strong></td>
                    <td>{% thumbnail "images/river.png" "30x30" as team_img %}
                        <img src="{{ team_img.url }}" />
                        {% endthumbnail %}
                    </td>
                    <td>River</td>
                </tr>
                <tr>
                    <td>Boca</td>
                    <td>{% thumbnail "images/boca.png" "30x30" as team_img %}
                        <img src="{{ team_img.url }}" />
                        {% endthumbnail %}
                    </td>
                    <td><strong>2</strong></td>
                    <td><strong>0</strong></td>
                    <td>{% thumbnail "images/river.png" "30x30" as team_img %}
                        <img src="{{ team_img.url }}" />
                        {% endthumbnail %}
                    </td>
                    <td>River</td>
                </tr>
                <tr>
                    <td>Boca</td>
                    <td>{% thumbnail "images/boca.png" "30x30" as team_img %}
                        <img src="{{ team_img.url }}" />
                        {% endthumbnail %}
                    </td>
                    <td><strong>2</strong></td>
                    <td><strong>0</strong></td>
                    <td>{% thumbnail "images/river.png" "30x30" as team_img %}
                        <img src="{{ team_img.url }}" />
                        {% endthumbnail %}
                    </td>
                    <td>River</td>
                </tr>
            </tbody>
        </table>        
        <p><a href="#" class="btn">Resultados de la última fecha »</a></p>
        </div>

        <div class="span4">
        <h2>Top 3</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td>1</td>
                    <td>{% thumbnail "http://matias.bordese.com.ar/images/matias.png" "30x30" as avatar %}
                        <a href="#">
                            <img src="{{ avatar.url }}" alt="matiasb">
                        </a>
                        {% endthumbnail %}
                    </td>
                    <td><strong><a href="#">matiasb</a></strong></td>
                    <td>51 puntos</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>{% thumbnail "http://matias.bordese.com.ar/images/matias.png" "30x30" as avatar %}
                        <a href="#">
                            <img src="{{ avatar.url }}" alt="matiasb">
                        </a>
                        {% endthumbnail %}
                    </td>
                    <td><strong><a href="#">matiasb</a></strong></td>
                    <td>51 puntos</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{% thumbnail "http://matias.bordese.com.ar/images/matias.png" "30x30" as avatar %}
                        <a href="#">
                            <img src="{{ avatar.url }}" alt="matiasb">
                        </a>
                        {% endthumbnail %}
                    </td>
                    <td><strong><a href="#">matiasb</a></strong></td>
                    <td>51 puntos</td>
                </tr>
            </tbody>
        </table>
        <p><a href="#" class="btn">Ver Posiciones »</a></p>
        </div>

    </div>
{% endblock %}
