{% load game_tags %}

<div class="row">
    <div class="span2">
        <h4>{{ match.home }}</h4>
        Posición: {% team_position match.group.tournament match.home %}
        <dl>
            <dt>Últimos partidos</dt>
            {% for m in match.home.latest_matches|slice:":3" %}
                {% ifequal m.home match.home %}
                    <dd>vs {{ m.away }}: {{ m.home_goals }} - {{ m.away_goals }} (L)</dd>
                {% else %}
                    <dd>vs {{ m.home }}: {{ m.away_goals }} - {{ m.home_goals }} (V)</dd>
                {% endifequal %}
            {% endfor %}
        </dl>
    </div>

    <div class="span2 offset1" style="text-align:right">
        <h4>{{ match.away }}</h4>
        Posición: {% team_position match.group.tournament match.away %}
        <dl>
            <dt>Últimos partidos</dt>
            {% for m in match.away.latest_matches|slice:":3" %}
                {% ifequal m.home match.away %}
                    <dd>vs {{ m.away }}: {{ m.home_goals }} - {{ m.away_goals }} (L)</dd>
                {% else %}
                    <dd>vs {{ m.home }}: {{ m.away_goals }} - {{ m.home_goals }} (V)</dd>
                {% endifequal %}
            {% endfor %}
        </dl>
    </div>
</div>

<div class="row">
    <div class="span5" style="text-align: center">
        <p><span class="label label-info">Tendencia</span></p>
    </div>
</div>

<div class="row">
    <div class="span1 offset1" style="text-align: center">
        <span class="prediction-percentage-value">{{ home_percentage|floatformat:"1" }}%</span>
        <span class="prediction-percentage-label">Local</span>
    </div>

    <div class="span1" style="text-align: center">
        <span class="prediction-percentage-value">{{ tie_percentage|floatformat:"1" }}%</span>
        <span class="prediction-percentage-label">Empate</span>
    </div>

    <div class="span1" style="text-align: center">
        <span class="prediction-percentage-value">{{ away_percentage|floatformat:"1" }}%</span>
        <span class="prediction-percentage-label">Visitante</span>
    </div>
</div>
