{% extends 'base.html' %}
{% load uni_form_tags %}

{% block extra-head %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function(){
            $('.match-heading').click(function(){
                var checkbox_id = this.id.substring(4);
                var checkbox = $('#' + checkbox_id);
                if ($(this).hasClass('non-starred')){
                    $(this).removeClass('non-starred');
                    $(this).addClass('starred');
                    checkbox.val('True');
                }else{
                    $(this).removeClass('starred');
                    $(this).addClass('non-starred');
                    checkbox.val('False');
                }
            });

            $('.collapse').on('show', function () {
                var div_data = $(this);
                var match_id = this.id.substring(5);
                /* if data is already loaded, do not reload */
                if (div_data.find('.loading').length > 0){
                    $.ajax({
                            url: "{% url game-match-info %}",
                            type: "POST",
                            data: {match_id: match_id},
                            success: function(html){
                                div_data.html(html);
                            }
                    });
                }
            });

            $('.collapse').on('shown', function () {
                var icon = $('a[data-target=#' + this.id + '] i');
                icon.removeClass('icon-chevron-right');
                icon.addClass('icon-chevron-down');
            });

            $('.collapse').on('hidden', function () {
                var icon = $('a[data-target=#' + this.id + '] i');
                icon.removeClass('icon-chevron-down');
                icon.addClass('icon-chevron-right');
            });

        });
    </script>
{% endblock %}

{% block html-title %}Partidos pendientes | {{ block.super }}{% endblock %}
{% block page-title %}Partidos pendientes{% endblock %}

{% block content %}

    {% regroup formset.forms by instance.match.group as form_list %}

    <div class="row">
        <div class="span2">
            <p>Este es el listado de los partidos pendientes, actualmente disponibles para jugar.
               <br/>Recordar que se pueden cargar los pronósticos hasta 2hs antes del partido.</p>
            <p>
                {% for group in form_list %}
                    <small><a href="#group-{{ forloop.counter }}">{{ group.grouper }} ({{ group.list|length }})</a></small><br/>
                {% endfor %}
                <small><a href="#comments">Comentarios</a></small>
            </p>
        </div>

        <div class="span5 offset1">

        <form action="." method="POST" class="form-horizontal">
            {% csrf_token %}
            {{ formset.management_form }}

            {% if saved %}
            <div class="alert fade in">
                <a href="#" data-dismiss="alert" class="close">×</a>
                Información actualizada exitosamente.
            </div>
            {% endif %}

            {% if formset.has_errors %}
                <div class="alert alert-error fade in">
                    <a href="#" data-dismiss="alert" class="close">×</a>
                    <h4 class="alert-heading">Error!</h4>
                    {% for error_dict in formset.errors %}
                        {% for field, msgs in error_dict.items %}
                            <p>{{ field }}: {{ msgs.0 }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            {% for group in form_list %}
                <h4 class="group-title" id="group-{{ forloop.counter }}">{{ group.grouper }}</h4>
                <hr/>
                {% for form in group.list %}
                <div class="match-entry">
                    {{ form.id }}
                    {{ form.match }}

                    {% with form.instance as card %}
                    <h5 class="match-heading {% if card.starred %}starred{% else %}non-starred{% endif %}" id="rel_{{ form.starred.auto_id }}">{{ card.match.home }} vs {{ card.match.away }} <small>{{ card.match.date|date:"d F Y | H:i" }}</small></h5>

                    <p class="goals-fieldset">
                        {% if card.match.home.logo %}
                        <img style="float:left" src="{{ card.match.home.logo.url }}" />
                        {% endif %}
                        {{ form.home_goals }}
                        {{ form.away_goals }}
                        {% if card.match.away.logo %}
                        <img style="float:right" src="{{ card.match.away.logo.url }}" />
                        {% endif %}
                    </p>

                    <p style="margin-top: -15px;text-align: center"><small>Estadio: {{ card.match.location }} | Árbitro: {{ card.match.referee }}</small></p>

                    {{ form.starred }}

                    <div style="text-align: center">
                        <a href="javascript: return false" class="more-info" data-toggle="collapse" data-target="#info-{{ card.match.id }}"><i class="icon-chevron-right"></i> Detalles</a>
                    </div>

                    <div id="info-{{ card.match.id }}" class="collapse">
                        <div class="row loading">
                            <div class="span1 offset2">
                                <p style="padding:10px; text-align:center"><img src="{{ STATIC_URL }}images/loading.gif" /></p>
                            </div>
                        </div>
                    </div>
                    {% endwith %}

                    <hr/>

                </div>
                {% endfor %}
            {% endfor %}

            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
            </fieldset>
        </form>

        </div>

        <div class="span3 offset1">
            <h3 id="comments">Comentarios</h3>
        </div>
    </div>
{% endblock %}
