{% extends 'base.html' %}
{% load thumbnail %}

{% block html-title %}Posiciones | {{ block.super }}{% endblock %}
{% block page-title %}Posiciones{% endblock %}


{% block content %}

    <div class="row">
        <div class="span2">
            <p>Estas son las posiciones del torneo.</p>
            [ share this? ]
        </div>

        <div class="span5 offset1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Equipo</th>
                        <th>Puntos</th>
                        <th>PG</th>
                        <th>PE</th>
                        <th>PP</th>
                        <th>GF</th>
                        <th>GC</th>
                        <th>DG</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in standings %}
                    <tr>
                        <td>
                            {% thumbnail entry.team.logo "30x30" as team_img %}
                                <img src="{{ team_img.url }}" />
                            {% endthumbnail %}
                            <h4>{{ entry.team }}</h4>
                        </td>
                        <td><strong>{{ entry.pts }}</strong></td>
                        <td>{{ entry.pg }}</td>
                        <td>{{ entry.pe }}</td>
                        <td>{{ entry.pp }}</td>
                        <td>{{ entry.gf }}</td>
                        <td>{{ entry.gc }}</td>
                        <td>{{ entry.dg }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}